* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    height: 80px;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding: 0 calc((100vw - 1300px) / 2);
}
.logo{
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}
nav a{
    text-decoration: none;
    padding: 0 1.5rem;
    color: black;
    font-size: 1.2rem
}
nav a:hover{
    color: rgb(129, 234, 253);
}

.poster{
    padding-top: 1rem;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 1.5rem;
}
.img1 img{
    width: 100%;
    height: 90%;
}
.img2 img{
    width: 100%;
    height: 90%;
}
.detail{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem; 
    margin-left: 2rem;
}
.detail img{
    width: 90%;
    height: 90%;
}
.textbutton{
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none; /* Remove underline decoration */
}

a h2{
    color: rgb(56, 56, 56);
    font-size: 4.5rem;
}
a h1{
    color: hsl(0, 6%, 50%);
    font-size: 9.2rem;
}
a h4{
    color: rgb(110, 110, 110);
    font-size: 1.5rem;
    padding-left: 4.5rem;
}

.textbutton button{
    margin-top: 1.4rem;
    width: 200px;
    margin-left: 5.3rem;
    margin-bottom: 1.3rem;
}

.brands{
    height: 37vh;
    padding-top: 6rem;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}


.hero{
    background: white;
    padding-bottom: 5rem;
}
.hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 2rem 7em;
    padding-top: 2rem;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    padding: 0rem 1rem;
}
.left h1{
    margin-bottom: 2rem;
    font-size: 3rem;
}
.left h4{
    margin-top: 1.5rem;
    font-size: 2rem;
}
.left p{
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.clock{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
}
.clock button{
    padding: 1.5rem 2rem;
    font-size: 2rem;
    border: none;
    background: rgba(255, 255, 255, 0.699);
    box-shadow: 4px 4px 4px rgba(2.2, 2, 2, 0.2);
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 8px;
}

.right img{
    width: 100%;
    border-radius: 20px;
}
.short{
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 4.5rem;
    padding: 0 1.5rem;
}
.short a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
button{
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
button:hover{
    background: rgb(129, 234, 253);
    color: black;
}

@media screen and (max-width: 768px){
    .hero-container{
        grid-template-columns: 1fr;
    }
}
    
.newarrivals{
    padding-top: 1rem;
    padding-bottom: 7rem;
}
.titleText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleText h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.titleText p{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2rem;
    padding: 0 19rem;
}
.categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 13rem;
}
.categories a {
    margin-top: 1.5rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    display: inline-block; 
}
.categories .btn::before{
    border-radius: 5px;
    background: #000000;
    text-decoration: none;
    color: white;
}
.categories .btn:hover, 
.categories .btn:hover::after {
    border-radius: 5px;
    background: rgb(129, 234, 253);
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* .categories a{
    margin-top: 1.5rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.categories .btn {
    display: inline-block;
}

.btn:hover, .btn::after{
    border-radius: 5px;
    background: #000000;
    text-decoration: none;
    color: white;
} */



.product{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 8rem;
    row-gap: 2.5rem;
    padding: 2rem;
    padding-left: 15rem;
}
.product img{
    width: 250px;
    border-radius: 5px;
    margin-bottom: .5rem;
}
.product a{ 
    text-decoration: none;
    color: black;
}
.base{
    padding-top: 1rem;
    padding-left: 43%;
}

.slider{
    padding-top: 0;
}
.slider-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 79vh;
    padding: 1rem 6rem;
}
.slider-container .right{
    background: #c4c4c1;
    padding-left: 3rem;
}
.slider-container .right h4{
    padding-top: 3rem;
    color: rgb(125, 121, 121);
    padding-bottom: 2rem;
}
.right p{
    padding-top: 2rem;
}
.right h1{
    font-size: 2.5rem;
}
.right h3{
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}
.right button{
    width: 200px;
}

.features{
    height: 25vh;
    padding-top: 3rem;
}
.feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
}
.feature a{
    text-decoration: none;
    color: black;
    display: grid;
    grid-template-columns: 2fr .5fr;
    gap: 1rem;
}

.feature a:hover{
    color: rgb(129, 234, 253);
}
.feature h3{
    width: 300px;
}
.gallery{
    height: 90vh;
}
.textT{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding-top: 4rem;
}
.textT h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.textT p{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 6rem;
    padding: 0 19rem;
}
.g-image img{
    width: 213.6px;
}





.footer{
    padding-top: 4rem;
    height: 36vh;
}
.footer hr {
    border: none;
    border-top: 1px solid #f4f2f2; /* Customize the border color and width */
    margin: 10px 0;
    padding-bottom: 2rem;
}
.itema{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9rem;
    padding-right: 6rem;
}
.itema h1{
    padding-left: 5rem;
    font-style: italic;
}
.items a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    padding: 3rem 1rem;
}
.data p{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}